.card {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgb(194, 192, 192);
  border-radius: 7px;
  border: 2px solid rgb(71, 70, 70);
}

.card_img {
  max-height: 200px;
}

.card_img > img {
  max-width: 100%;
  max-height: 100%;
}

.card_name {
  font-size: 1.2rem;
  font-weight: 600;
}

.delete_button {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 20px;
  font-size: 1.5rem;
  height: 20px;
  width: 30px;
  font-weight: 600;
  text-align: center;
  color: rgb(85, 7, 7);
  background-color: rgba(71, 70, 70, 0.507);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  &:hover {
    background-color: rgba(71, 70, 70, 0.753)
  }
}